---
import Header from "../../components/Header.astro";
import Projects from "../../components/Projects.astro";
import Carousel from "../../components/Carousel.astro";
import Flexbox from "../../components/Flexbox.astro";
import Form from "../../components/Form.astro";
import Social from "../../components/Social.astro";
import EnglishLayout from "../../layouts/EnglishLayout.astro";
---

<EnglishLayout title="portfolio">
	<Header
	title="Hello! It's Luis Santeliz I'm a"
	span="Web Developer"
	subtext="With experience in React, JavaScript, HTML, and CSS, I specialize in developing dynamic, accessible, and optimized web applications to deliver a smooth and fast user experience. I combine responsive design with functional logic to create intuitive and scalable interfaces. I am currently expanding my skills towards backend development with Node.js and Ruby on Rails, strengthening my profile as a full-stack developer. Explore my work and let's collaborate!"
	button="Start Collaboration" />
	<div class="container">
		<h2>PROJECTS</h2>
		<div class="underline"></div>
	</div>
	<Projects
	textA="Website with a modern and fluid interface, with smooth animations that enhance the user experience." 
	textB="A versatile platform that combines information, entertainment, and commerce in one place."
	textC="Your online store: Explore, choose, and place your order with just one click."
	textD="A space designed to provide you with dynamic and attractive informative content."
	textE="Intuitive interface to navigate and discover information with ease."
	textF="Music platform offering albums, 24/7 radio, gallery, and social media"
	textG="Landing page showcasing interactive content, values, mission, and social connection"
	textH="A design created in WordPress, room reservations, and payment gateway."
	texti="Landing page for a steel company in Venezuela, showcasing their services and products."
	button="View Live Site"/>
	<Carousel />
	<Flexbox
	title="ABOUT ME" 
	titleA="Languages"
	textA="I am Luis Santeliz, a web developer focused on creating smooth, accessible, and scalable digital experiences. I combine skills in frontend (React, HTML, CSS, SASS) with a solid foundation in JavaScript and modern tools like Git, Figma, and Astro. I work closely with designers and backend developers to build intuitive interfaces that connect with users."
	button="GET MY CV"
	titleB="Skills"/>
	<Form 
	title="Let's get started!"
	text="If you're looking for a dedicated, professional developer who loves creating impactful, user-friendly digital experiences, let’s work together to make your project stand out!"
	name="Your Name"
	email="Your Email"
	textarea="Text a Message"
	button="SEND"/>
	<Social
	anchor="GET MY CV" />
</SpanishLayout>
<script>
	import "../../scripts/mainMenu";
	import "../../scripts/api/feedbackformEN.js"
</script>
<style lang="scss">

	h2 {
		margin-top: 70px;
	}
	button img {
		margin: 20px;
	}

	@media only screen and (min-width: 1024px) {

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100%;
  }
	}
</style>