---
import Header from "../components/Header.astro";
import Projects from "../components/Projects.astro";
import SpanishLayout from "../layouts/SpanishLayout.astro";
---

<SpanishLayout title="portfolio">
<Header />
<h2>PROJECTS</h2>
<div class="underline"></div>
<Projects />
</SpanishLayout>
<script>
	import "../scripts/mainMenu"
	import "../scripts/Projects"
</script>
<style lang="scss">
	@use "../assets/sass/index" as*;
	h2 {
		margin-top: 70px;
	}
</style>