---
import Header from "../components/Header.astro";
import Projects from "../components/Projects.astro";
import Carousel from "../components/Carousel.astro";
import SpanishLayout from "../layouts/SpanishLayout.astro";
import Flexbox from "../components/Flexbox.astro";
import Form from "../components/Form.astro";
import Social from "../components/Social.astro";
---

<SpanishLayout title="portafolio">
	<Header 
	title="¡Hola! Soy Luis Santeliz, "
	span="Desarrollador web"
	subtext="Con experiencia en React, JavaScript, HTML y CSS, me dedico a construir aplicaciones web que sean fáciles de usar, rápidas y optimizadas para ofrecer una experiencia fluida al usuario. Echa un vistazo a mi trabajo..!"
	button="Iniciar Colaboración"/>
	<div class="container">
		<h2>PROYECTOS</h2>
		<div class="underline"></div>
	</div>
	<Projects
	textA="Sitio web con interfaz moderna y fluida, con animaciones suaves que mejoran la experiencia del usuario." 
	textB="Una plataforma versátil que combina información, entretenimiento y comercio en un solo lugar."
	textC="Tu tienda online: Explora, elige y haz tu pedido con un solo clic."
	textD="Un espacio diseñado para brindarte contenido informativo dinámico y atractivo"
	textE=" Interfaz intuitiva para navegar y descubrir información con facilidad."
	textF="Plataforma musical con álbumes, radio 24/7, galería e integración social"
	textG="Landing page donde muestra contenido interactivo, valores, misión y conexión social"
	button="Ver Sitio en Vivo"/>
	<Carousel />
	<Flexbox
	title="ACERCA DE MÍ" 
	titleA="Lenguajes"
	textA="Me especializo en desarrollar aplicaciones web dinámicas y eficientes, colaborando con diseñadores y backend para crear interfaces fluidas. Valoro el trabajo en equipo y perspectivas diversas, aunque también me adapto al trabajo independiente, escribiendo código claro y escalable, profundizando en retos y garantizando experiencias óptimas para el usuario."
	button="Obtén mi CV"
	titleB="Habilidades"/>
	<Form 
	title="¡Comencemos!"
	text="Si estás buscando un desarrollador dedicado y profesional que disfrute creando experiencias digitales impactantes y fáciles de usar, trabajemos juntos para que tu proyecto destaque"
	name="Tu Nombre"
	email="Tu Correo"
	textarea="Escribe un Mensaje"
	button="ENVIAR"/>
	<Social
	anchor="Obtén mi CV" />
</SpanishLayout>
<script>
	import "../scripts/mainMenu";
	import "../scripts/ValidationForm"
</script>
<style lang="scss">

	h2 {
		margin-top: 70px;
	}
	button img {
		margin: 20px;
	}

	@media only screen and (min-width: 1024px) {

		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			height: 100%;
		}
	}
</style>