---
import points from "../assets/image/points.png";
---

<div class="blur-background">     
  <nav>
    <a class="nav-logo" href="/">
      <img src={points.src} alt="logo">
    </a>
    <div class="close-menu-container">
      <button aria-label="close-menu" id="close-menu" type="button" class="close-menu"></button>
      <i class="ph ph-x"></i>
    </div> 
    <div class="nav-container">
      <ul class="navlinks"> 
        <!-- <li><a class="navdesk" href="/"><img src={points.src} alt="logo"></a></li> -->
        <li><a href="/" data-astro-prefetch>HELLO</a></li>
        <li><a href="#" data-astro-prefetch>PROJECTS</a></li>
        <li><a href="#" data-astro-prefetch>ABOUT ME</a></li>
        <li><a href="#" data-astro-prefetch>CONTACT</a></li>
        <div class="content"> 
          <li><a id="language-toggle" href="#" data-astro-prefetch rel="noreferrer">EN</a></li>
          <i class="ph ph-translate"></i>
        </div>
      </ul>
    </div>
  </nav>
</div>

<style lang="scss">
  @use '../assets/sass/index' as *;

  .blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    transition: 0.5s ease-in;
    opacity: 1;
    z-index: -1;
    pointer-events: none;
  }

  .blur-background.active {
    opacity: 1;
    z-index: 20;
    pointer-events: auto;
  }

  nav {
    position: fixed;
    top: 0;
    right: -550px; 
    width: 100%;
    height: 100%;
    background-color: rgba($primary, 80%);
    transition: right 0.5s ease-out;
    z-index: 2; 
  }

  nav.active {
    right: 0; 
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .nav-logo img {
    display: block;
    margin: 70px auto;
    width: 100px;
    height: auto;
  }

  .content, i {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
    color: $secondary;
  }

  li:hover {
    text-decoration:underline;
    text-decoration-color: $tertiary;
    text-underline-offset: 13px;
    text-decoration-thickness: 3px;
  }

  .content li {
    display: inline-block;
  }

  .navlinks a {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: $regular;
    font-family: $heading;
    color: $secondary;
    margin-top: 80px;
  }

    // start button style
  .close-menu-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 5%;
  }

  /* Botón para cerrar menú */
  #close-menu {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .ph-x {
    font-size: 3rem;
  }

  @media only screen and (min-width: 1024px) {
    .blur-background, nav {
      display: none;
    }
  }

</style>