$primary: #202327;
$secondary: #fff;
$tertiary: #34373d;
$accent-a-light: #77b255;
$accent-a-dark: #82b863;
$accent-b-light: #ffd261;
$accent-b-dark: #ffcc4d;
$accent-c-light: #e03f53;
$accent-c-dark: #dd2e44;
