@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap');

// fonts

$heading: 'Bebas Neue', serif;
$text: 'Roboto', serif;

// weights

$regular: 400;
$medium: 500;
$bold: 700;
$semibold: 600;